<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> Login </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"/>
    <link rel="stylesheet"  th:href="@{/css/login_page.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script th:src="@{/js/login_page.js}"></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form th:action="@{/login}" method="POST" class="login-form">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <div th:if="${param.error}" class="error_msg">Bad Credentials</div>
            <input type="submit" value="Login" class="button"/>
        </form>
    </div>
</div>
</body>
</html>