<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> Payments </title>
    <link rel="stylesheet"  th:href="@{/css/payments_page.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <div class="table-header" th:text="${customer}"></div>
        <table class="payments">
            <tr>
                <th style="width: 5%;"></th>
                <th style="width: 15%;">Amount</th>
                <th style="width: 20%;">Date</th>
                <th>Description</th>
            </tr>
            <tr th:each="payment, status : ${payments}">
                <td th:text="${status.index + 1}"></td>
                <td th:text="${payment.amount}"></td>
                <td th:text="${payment.getFormattedDate()}"></td>
                <td th:text="${payment.description}"></td>
            </tr>
        </table>
        <a class="next-btn" th:href="@{/newpayment}"
        <a class="button" th:href="@{/newpayment}">Add payment</a>
    </div>
</div>
</body>
</html>