<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> Login </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"/>
    <link rel="stylesheet"  th:href="@{/css/payments_page.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script th:src="@{/js/login_page.js}"></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <table class="payments">
            <tr>
                <th></th>
                <th>Сумма платежа</th>
                <th>Дата платежа</th>
            </tr>
            <tr th:each="payment, status : ${payments}">
                <td th:text="${status.index + 1}"></td>
                <td th:text="${payment.amount}"></td>
                <td th:text="${payment.getFormattedDate()}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>